
.titalCard {
  border-bottom: 2px solid rgb(15, 4, 4);
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}


.card {
  text-align: center;
  border: rgb(2, 2, 2) solid 2px;
  border-radius: 5px;
  padding: 1rem;
  width: 10rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #000000;
  background-color: #6976d9;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.cardImage {
  border: black solid 2px;
  justify-self: center;
  height:200px;
  width: auto;
}

.backButton {
  background-color: white;
  color: black;
  border: 2px solid #6976d9;
  border-radius: 5px;
  transition-duration: 0.4s;
  position: fixed;
}
.backButton:hover {
  background-color: #6976d9;
  color: white;
  cursor: pointer;
}

.movieDescription {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 50px;
}

.reviews {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 50px;
}
.movieReviewsTitle {
  border-bottom: 2px solid rgb(15, 4, 4);
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

.reviewImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 50px;
}

input {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.submitButton {
  background-color: #6976d9;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px 0px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #ffffff;
  color: #6976d9;
  cursor: pointer;
  border-color: #6976d9;
}


